body {
  font-family: "Lato", sans-serif;
}

.App {
  text-align: center;
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.header h1,
p {
  color: #66f;
  margin-top: 0px;
  margin-bottom: 0px;
}

.search {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

.search h3 {
  margin-bottom: 1rem;
}

.search-input {
  width: 40rem;
  height: 3rem;
  box-shadow: 1px 1px 10px #66f;
  border: none;
  padding: 0px 1rem;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.video-card {
  width: 12rem;
  background-color: #eee;
  padding: 1rem 1rem 1rem 1rem;
  box-shadow: grey;
  border-radius: 5%;
}

.video-card img {
  width: 100%;
}

.video-card p {
  padding-bottom: 3rem;
  font-size: 0.75rem;
  font-weight: bold;
  height: 3rem;
}

.deleteButton {
  float: right;
  border: none;
}

.clear {
  clear: both;
}

p {
  color: #000;
}

footer {
  text-align: center;
  margin-top: 100px;
  background-color: #eee;
  padding: 1rem;
}

.modal-video {
  height: 0px;
  background-color: yellow;
  border: none;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 800px) {
  .search-input {
    width: 10rem;
  }

  .video-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
